@page
@model IndexModel
@{
    ViewData["Title"] = "Test App ";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-5">@ViewData["Title"]</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<environment include="Development, Staging">
    <div class="warning"> You are currently on a Testing environment</div>

</environment>

